CONDITIONAL STATEMENTS:

In [1]:
print('.....CONDITIONAL STATEMENTS.....')
num = int(input('Enter a number'))
if(num>50):
    print('greater than 50')
elif(num == 50):
    print('equals to 50')

else:
    print('less than 50')

.....CONDITIONAL STATEMENTS.....
greater than 50

checking whether a number is positive or negative:

In [2]:
num = int(input('enter a number'))
if(num>=0):
    if(num==0):
        print("The number is zero")
    else:
        print('The number is positive')
else:
    print('The number is negative')

The number is positive

checking whether a number is odd as well as greater than 20

In [3]:
num = int(input('enter a number'))
if(num%2==0):
    print('the number is even')
else:
    if(num>20):
        print('the number is odd')
        print('the number is greater than 20')

the number is even

SUM OF N NATURAL NUMBERS:

In [4]:
print('....SUM OF N NATURAL NUMBERS.....')

n = int(input('Enter a number'))
count = 1
sum = 0
while(count<=n):
    sum = count + sum
    count = count + 1
print('the sum of first',n,'natural numbers is',sum)

....SUM OF N NATURAL NUMBERS.....
the sum of first 10 natural numbers is 55

LARGEST NUMBER AMONG THE THREE NUMBERS:

In [5]:
print('....FINDING LARGEST NUMBER AMONG THREE NUMBERS......')
num1 = int(input('enter the first number'))
num2 = int(input('enter the second number'))
num3 = int(input('enter the third number'))
if((num1 > num2) and (num1 > num3)):
    print('The greatest number is ',num1)
elif((num2 > num3) and (num2>num1)):
    print('The greatest number is ',num2)
else:
    print("The greatest number is ",num3)

....FINDING LARGEST NUMBER AMONG THREE NUMBERS......
The greatest number is  12

FINDING DISCOUNT AND THE DUE AMOUNT

In [6]:
print('.....FINDING DISCOUNT AND DUE AMOUNT......')
amount = int(input('Enter a selling price..'))
if(amount>0):
    if(amount<=5000):
        discount = amount * 0.05
        print('the discount is',discount)
    elif(amount<=15000):
        discount = amount * 0.12
        print('The discount is',discount)
    elif(amount<=25000):
        discount = amount * 0.2
        print('The discount is',discount)
    else:
        discount = amount * 0.3
        print("the discount is",discount)
else:
    print('Enter a valid amount')
print('The final due fee is',amount - discount)

.....FINDING DISCOUNT AND DUE AMOUNT......
the discount is 3.9000000000000004
The final due fee is 74.1

FINDING THE GRADE OF THE STUDENT:

In [7]:

mark = int(input('Enter the total mark'))
if(mark>=90):
    print('A grade')
elif(mark>=80):
    print('Bgrade')
elif(mark >= 70):
    print('C grade')
elif(mark >= 60):
    print('D grade')
elif(mark >= 50):
    print('E grade')
else:
    print('FAIL')

D grade

In [8]:
print('Checking the type of variable is complex or not')
var = 5+3j
if(type(var) == complex):
    print('the give variable is of complex data type')

Checking the type of variable is complex or not
the give variable is of complex data type

SUM OF THE LIST ELEMENTS:

In [9]:
print('.......SUM OF LIST ELEMENTS....')
sum = 0
num_list = [66, 545, 223, 438, 224, 122, 125, 214, 111]
for i in num_list:
    sum = i + sum
print('The sum of list elements is...',sum)

.......SUM OF LIST ELEMENTS....
The sum of list elements is... 2068

AVERAGE OF THE LIST ELEMENTS:

In [10]:
total = 0
for i in num_list:
    total += i
print('The sum of list elements is',total)
print('The average of list elements is',total/len(num_list))

The sum of list elements is 2068
The average of list elements is 229.77777777777777

SUM OF FIRST 10 NATURAL NUMBERS:

In [11]:

sum = 0
for x in range(10):
    sum += x
print('The sum of 0-9 is',sum)

The sum of 0-9 is 45

SEARCHING AN ELEMNENT IN A LIST:

In [12]:
print('......SEARCHING AN ELEMENT IN A LIST.....')
for num in [131, 92, 838, 120, 920, 233,321, 119]:
    print(num)
    if(num == 233):
        print('The number ',233,' found in the list')
        break;

......SEARCHING AN ELEMENT IN A LIST.....
131
92
838
120
920
233
The number  233  found in the list

FINDING THE LENGTH OF THE NUMBER:

In [13]:
print('.........FINDING THE LENGTH OF A NUMBER........')

num = int(input('Enter a number'))
length = 0
while True:
    num = num // 10
    length += 1
    if(num == 0):
        break;
print('the length of the given number is',length)

.........FINDING THE LENGTH OF A NUMBER........
the length of the given number is 3

DEMONSTRATION OF BREAK STATEMENTS:

In [14]:
print('.....GETTING UNLIMITED INPUTS FROM THE USER to stop give the negative number.....')
list = []
while True:

    num = int(input('enter a number'))
    if (num<0):
        break;
    list.append(num)
print(list)

.....GETTING UNLIMITED INPUTS FROM THE USER to stop give the negative number.....
[234, 344, 23]

DEMONSTRATION OF CONTINUE STATEMENTS:

In [15]:
print('....CONTINUE STATEMENT.....')
name = 'sharan'
for x in name:
    if(x == 'r'):
        continue
    else:
        print(x)

....CONTINUE STATEMENT.....
s
h
a
a
n

DEVELOPING SIMPLE CALCULATOR:

In [16]:
print('......SIMPLE CALCULATOR........')

num1 = int(input('Enter the number'))
num2 = int(input('ENter the another number'))

operator = input('Enter the operator (+,-,*,%): ')
if(operator == '+'):
    print(num1 + num2)
elif(operator == '-'):
    print(num1 - num2)
elif(operator == '*'):
    print(num1 * num2)
elif(operator == '/'):
    print(num1 + num2)
elif(operator == '%'):
    print(num1 + num2)
else:
    print("INVALID OPERATOR")

......SIMPLE CALCULATOR........
35

INBUILT FUNCTIONS IN PYTHON:

In [ ]:
negative = -18.58
positive = 17.67
print(abs(negative))
print(abs(positive))
list = [2,3,45,6,7]
print(sum(list))
fruits = 'apple,bannana,orange,pine apple,grapes'
print(len(fruits))
fruit_list = fruits.split(',')
print(fruit_list)
print('The fruits are')
for x in fruit_list:
    print(x)

DEONSTRATION OF USER DEFINED FUNCTIONS IN PYTHON:

In [17]:
print('...FUNCTIONS.....')
def fun():
    print('this is a function call ')
fun()

...FUNCTIONS.....
this is a function call

AREA OF CIRCLE:

In [18]:
print('........AREA OF CIRCLE......')
radius = int(input('Enter the radius of the circle:'))
def area(radius):
    print('The are of circle is: ',3.14*radius*radius)

area(radius)

........AREA OF CIRCLE......
The are of circle is:  153.86

FINDING THE UNIQUE VALUE OF THE LIST:

In [20]:
print('...FINDING THE UNIQUE VALUE OF THE LIST - MY APPROACH....')


def unique(x):
    sets = set(x)
    print('unique values are: ')
    for i in sets:
        print(i)
x = [44,45,56,44,32,54,44,56,44,87,44,56]

unique(x)

...FINDING THE UNIQUE VALUE OF THE LIST - MY APPROACH....
unique values are:
32
44
45
54
87
56

FINDING TYHE UNIQUE VALUES OF THE LIST - ALTERNATIVE

In [21]:
print('.....FINDING THE UNIQUE VALUES - ANOTHER APPROACH.....')

unique_list = []

def unique(x):
    for i in x:
        if i not in unique_list:
            unique_list.append(i)


x = [44,45,56,44,32,54,44,56,44,87,44,56]
unique(x)
print('The unique numbers are ',unique_list)

.....FINDING THE UNIQUE VALUES - ANOTHER APPROACH.....
The unique numbers are  [44, 45, 56, 32, 54, 87]

MULTIPLICATION TABLE:

In [24]:
print('......MULTIPLICATION.....')
n = int(input('Enter a number to give the multiplication table'))
def table(n):
    for i in range(1,11):
        print(i,' * ',n,' = ',i*n)
table(n)

......MULTIPLICATION.....
1  *  7  =  7
2  *  7  =  14
3  *  7  =  21
4  *  7  =  28
5  *  7  =  35
6  *  7  =  42
7  *  7  =  49
8  *  7  =  56
9  *  7  =  63
10  *  7  =  70

DEMONSTRATION OF TAKING MULTIPLE ARGUMENTS:

In [25]:

print('....TAKING MULTIPLE ARGUMENTS FROM THE USER...')
def fun(*args):
    for parameters in args:
        print(parameters)
fun('sha','ran')

....TAKING MULTIPLE ARGUMENTS FROM THE USER...
sha
ran

DEMONSTRATION OF TAKING MULTIPLE KEYWORDED ARGUMENTS

In [26]:
print('....KWARGS.....')

def fun(**kwargs):
    for a,b in kwargs.items():
        print(a,' == ',b)

fun(A='sharan',B = 'MCA')

....KWARGS.....
A  ==  sharan
B  ==  MCA

DEMONSTRATION OF LAMBDA FUNCTIONS:

In [27]:
min_value =(lambda x,y:x if x<y else y)
print(min_value(33,43))

print('.......mMIN VALUE BY LAMBDA......')
print('.....CHECKING WHETHER THE TWO STRINGS ARE EQUAL OR NOT...')
is_equal = (lambda str1,str2:True if str1 == str2 else False)
print(is_equal('sha','sha'))

33
.......mMIN VALUE BY LAMBDA......
.....CHECKING WHETHER THE TWO STRINGS ARE EQUAL OR NOT...
True

DEMONSTRATION OF MAP FUNCTION

In [29]:
print('...MAP FUNCTION.......')

x = [1,2,3,4,5,6]

squares = map(lambda i: i*i,x)
print(tuple(squares))

...MAP FUNCTION.......
(1, 4, 9, 16, 25, 36)

DEMONSTRATION OF FILTER FUNCTIONS:

In [31]:
print('FILTEER FUNCTION..')
numbers = [1,2,3,4,5,6,7,8,9,10]
evens = filter(lambda i:i%2 == 0,numbers)
print(tuple(evens))

FILTEER FUNCTION..
(2, 4, 6, 8, 10)

REDUCE FUNCTION:

In [32]:
from functools import reduce
print('....REDUCE....')
x = [1,2,3,4,5,6]
factorial = reduce(lambda i,j:i*j,x)
print(factorial)

....REDUCE....
720