MULTIPLE ASSIGNMENTS IN PYTHON

In [1]:
a =10
a = b = c = 10
d,e,f ='sha','ran',10.5
print('a: ',a,'b:',b,'c :',c)
print('d :',d,'e:',e,'f:',f)

a:  10 b: 10 c : 10
d : sha e: ran f: 10.5

HANDLING OF STRINGS IN PYTHON

In [3]:
str1,str2,num = 'sha','ran','2001'
str = str1 + str2 + num
print(str)
print(str*3)

sharan2001
sharan2001sharan2001sharan2001

STRING SLICING:

In [4]:
str = 'final'
print(str)
print(str[2])
print(str[2:5])
print(type(str))

final
n
nal
<class 'str'>

HANDLING BOOLEAN DATA TYPES IN PYTHON:

In [5]:
bool = 'True'
print(bool)
print(7>5)

True
True

FINDING DATA TYPES IN PYTHON:

In [6]:
type('str')
k = False
print(type(k))
list = [1,2,3,4,5]
print(type(list))
print(type(5>4))

<class 'bool'>
<class 'list'>
<class 'bool'>

TYPE CONVERSION IN PYTHON:

In [7]:
print("float conversion: ",float(10),float("10"),float(True))
print("int conversion: ",int(10.10),int("10"),int(False))

float conversion:  10.0 10.0 1.0
int conversion:  10 10 0

PRINT STATEMENT IN PYTHON:

In [8]:
print("......PRINT STATEMENT..........")
print('sharan',end = '\n\n\n')
print('sha')
print('8i +9',end = 'j')
print("45",sep = '$')
print("65",sep = "$")
day,mont,year = 11,3,2025
print(day,mont,year,sep ='-')
print("Python", "is", "awesome", sep="-")

......PRINT STATEMENT..........
sharan


sha
8i +9j45
65
11-3-2025
Python-is-awesome

INPUT FUNCTION IN PYTHON:

In [ ]:
print("........INPUT FUNCTION.......")
a = input('enter a string')
print('user input string: ',a)
b = int(input('enter a number'))
print('user input intger',b)
c = float(input('enter a decimal number:'))
print('decimal number float:',c)

OPERATORS IN PYTHON:

In [1]:
print('......OPERATORS.....')
a,b = 5,4
print('only integer: ',a//b)
print('exponential :',a**b)

......OPERATORS.....
only integer:  1
exponential : 625

MEMEBERSHIP OPERATORS:

In [2]:

print(' .......MEMBERSHIP OPERATORS(IN/NOT IN).....')
A = [2,4,6,8,10]
print(4 in A)
print(4 not in A)
name = 'sharan'
print('a' in name)

 .......MEMBERSHIP OPERATORS(IN/NOT IN).....
True
False
True

CONTROL STATEMENTS AND LOOPING STATEMENTS:

In [3]:
print('...........PYTHON CONTROL STATEMENTS..........',end = '\n')
print('if else:')
x = 10
if(x%2==0):
    print('it is an even number')
else:
    print('it is an odd number')
print('\n\n\n')
print('if..elif..else')
if(x>10):
    print('greater than 10:')
elif(x==10):
    print('equals to 10')
else:
    print('less than 10')

...........PYTHON CONTROL STATEMENTS..........
if else:
it is an even number




if..elif..else
equals to 10

WHILE LOOP:

In [4]:
print('.......DEMONSTRATION OF WHILE LOOP.....')
sum = 0
i = 1
while(i <= 10):
    sum += i
    i += 1
print('The sum of first 10 odd numbers is',sum)

.......DEMONSTRATION OF WHILE LOOP.....
The sum of first 10 odd numbers is 55

ITERATIONS THROUGH THE LOOPING STATEMENTS:

In [6]:
print('.......FOR LOOP DEMONSTRATION......')

list = [1,2,3,4,5]
for i in list:
    print(i)  
print("The even numbers in first 100 natural njumbers are")   
for i in range (2,102,2):
   
    print(i,sep = ',',end =' ')
print('\n') 
name = 'sha'
for i in range(0,len(name)):
          print(name[i])

.......FOR LOOP DEMONSTRATION......
1
2
3
4
5
The even numbers in first 100 natural njumbers are
2 4 6 8 10 12 14 16 18 20 22 24 26 28 30 32 34 36 38 40 42 44 46 48 50 52 54 56 58 60 62 64 66 68 70 72 74 76 78 80 82 84 86 88 90 92 94 96 98 100

s
h
a

PROGRAMS:
1.PROGRAM TO ADD TWO NUMBERS

In [2]:
num1 = int(input("enter a number "))
num2 = int(input('enter another number '))
sum = num1 + num2
print("Sum of given two numbers is ",sum)

Sum of given two numbers is  24

2.program to check whether a student cleared the exam or not

In [3]:
grade = int(input('Enter the grade of the student'))
if grade >= 60:
    print('RESULT: PASS')
else:
    print('RESULT: FAIL')

RESULT: PASS

3.PROGRAM TO PRINT THE AVERAGE MARKS OF TEN STUDENTS

In [4]:
total = 0
i =1
print('enter the marks of 10 students')
while i<= 10:
    marks = int(input('enter the student mark: '))
    total = total + marks
    i += 1
avg = total/10
print('The average marks of 10 student is',avg)

enter the marks of 10 students
The average marks of 10 student is 77.8

CONTAINER DATA TYPES IN PYTHON:
1.LIST:

EMPTY LIST:

In [5]:
empty_list = []
empty_list1 = list()
print('empty list:',empty_list)

empty list: []

CREATING LIST AND ITERATING THROUGH LIST ELEMENTS:

In [6]:
list = [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15]
career_list = ['programming','ai engineer','content crreation']
for i in list:
    print(i,end = ' ')

1 2 3 4 5 6 7 8 9 10 11 12 13 14 15

ACCESSING LIST ELEMENTS:

In [7]:
print(list[5])
print(career_list[0])
print(list[:10])
print(list[3:13])
print(list[4:])
print(list[:])
print(list[0:15:2])
print(list[-1:-6:-1])
print(career_list[1])
print(career_list[-2])
print('........SLICING....')
print(list[:3])
print(list[12:])
print(list[:4])

6
programming
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
[4, 5, 6, 7, 8, 9, 10, 11, 12, 13]
[5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[1, 3, 5, 7, 9, 11, 13, 15]
[15, 14, 13, 12, 11]
ai engineer
ai engineer
........SLICING....
[1, 2, 3]
[13, 14, 15]
[1, 2, 3, 4]

LIST FUNCTIONS:
1.APPEND()

In [8]:
print(list)
list.append(career_list)
print(list)
for i in list:
    print(i)
print(list[15])

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15]
[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, ['programming', 'ai engineer', 'content crreation']]
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
['programming', 'ai engineer', 'content crreation']
['programming', 'ai engineer', 'content crreation']

2.EXTEND:

In [10]:
course1 = ['data science', 'machine learning', 'python', 'html', 'big data' ]

course2 = ['statistics','Artificial Intelligence','Data Analyst']
course1.extend(course2)
print(course1)
print(course1[5])

['data science', 'machine learning', 'python', 'html', 'big data', 'statistics', 'Artificial Intelligence', 'Data Analyst']
statistics

3.INSERT(): INSERT THE ELEMENTS AT THE SPECIFIED INDEX OF THE LIST

In [12]:
course1.insert(-1,'Data Engineer')
print(course1)
course1.insert(0,'python developer')
print(course1)

['python developer', 'data science', 'machine learning', 'python', 'html', 'big data', 'statistics', 'Artificial Intelligence', 'Data Engineer', 'Data Engineer', 'Data Analyst']
['python developer', 'python developer', 'data science', 'machine learning', 'python', 'html', 'big data', 'statistics', 'Artificial Intelligence', 'Data Engineer', 'Data Engineer', 'Data Analyst']

4.SORT(): SORT THE ELEMENTS IN INCREASING OR DECREASING ORDER

In [13]:
course1.sort()
print(course1)
course1.sort(reverse = True)
print(course1)
course1.sort(key = len)
print(course1)

['Artificial Intelligence', 'Data Analyst', 'Data Engineer', 'Data Engineer', 'big data', 'data science', 'html', 'machine learning', 'python', 'python developer', 'python developer', 'statistics']
['statistics', 'python developer', 'python developer', 'python', 'machine learning', 'html', 'data science', 'big data', 'Data Engineer', 'Data Engineer', 'Data Analyst', 'Artificial Intelligence']
['html', 'python', 'big data', 'statistics', 'data science', 'Data Analyst', 'Data Engineer', 'Data Engineer', 'python developer', 'python developer', 'machine learning', 'Artificial Intelligence']

5.REVERSE(): - REVERSE THE ENTIRE ORDER OF THE LIST

In [14]:
course1.reverse()
print(course1)
course1.reverse()
print(course1)

['Artificial Intelligence', 'machine learning', 'python developer', 'python developer', 'Data Engineer', 'Data Engineer', 'Data Analyst', 'data science', 'statistics', 'big data', 'python', 'html']
['html', 'python', 'big data', 'statistics', 'data science', 'Data Analyst', 'Data Engineer', 'Data Engineer', 'python developer', 'python developer', 'machine learning', 'Artificial Intelligence']

DEL KEYWORD: DEL THE SPECIFIED INDEX OF LIST

In [15]:
del course1[0]
print(course1)
del course1[8:10]
print(course1)

['python', 'big data', 'statistics', 'data science', 'Data Analyst', 'Data Engineer', 'Data Engineer', 'python developer', 'python developer', 'machine learning', 'Artificial Intelligence']
['python', 'big data', 'statistics', 'data science', 'Data Analyst', 'Data Engineer', 'Data Engineer', 'python developer', 'Artificial Intelligence']

REMOVE(): - REMOVES THE SPECIFIED ELEMENT

In [16]:
course1.remove('statistics')
print(course1)

['python', 'big data', 'data science', 'Data Analyst', 'Data Engineer', 'Data Engineer', 'python developer', 'Artificial Intelligence']

POP() - REMOVE AND RETURN LAST ELEMENT OF LIST

In [17]:
print(course1.pop())
print(course1)

Artificial Intelligence
['python', 'big data', 'data science', 'Data Analyst', 'Data Engineer', 'Data Engineer', 'python developer']

+,* OPERATORS WITH LIST:

In [ ]:
course = course1+course2
print(course)
course2*3
print(course2*3)

TUPLES:(IMMUTABLE)

In [18]:
my_tuple =(1,2,3,4,4,5,4,7,8,'python',[2,3,4])
my_tuple[10][1] = 4
print(my_tuple)
print(my_tuple.count(4))
print(my_tuple.index(4))

(1, 2, 3, 4, 4, 5, 4, 7, 8, 'python', [2, 4, 4])
3
3

CREATING DICTIONARY AND ACCESSING ITTS ELEMENTS:

In [20]:

print('......DICTIONARY......')
marks = { 'dsa' : 99,
          'java' :100,
          'python':98
          }
print(marks['python'])
print(marks.get('python'))
marks['python'] = 99
print(marks)
print(len(marks))
marks['c++'] = 97
print(marks)
print(len(marks))

......DICTIONARY......
98
98
{'dsa': 99, 'java': 100, 'python': 99}
3
{'dsa': 99, 'java': 100, 'python': 99, 'c++': 97}
4

DEMONSTRATING DIFFERENT FUNCTIONS IN DICTIONARIES

In [23]:
horsepower = {'BMW':949 , 'Mercedes':945 ,'Ferrari':954 ,'Volkswagen': 976,'Renault ':889}
print(horsepower.items())
print(horsepower.keys())
print(horsepower.values())
print('BMW' in horsepower.keys())
print('Renault ' in horsepower)
print(945 in horsepower.values())
print(945 in horsepower)

print(horsepower.pop('Mercedes'))
print(horsepower.popitem())
print(horsepower)
del horsepower['BMW']
print(horsepower)
horsepower.update({'BMW':949})
print(horsepower)
horse = horsepower
print(horse)
horse1 = horsepower.copy()
print(horse1)

dict_items([('BMW', 949), ('Mercedes', 945), ('Ferrari', 954), ('Volkswagen', 976), ('Renault ', 889)])
dict_keys(['BMW', 'Mercedes', 'Ferrari', 'Volkswagen', 'Renault '])
dict_values([949, 945, 954, 976, 889])
True
True
True
False
945
('Renault ', 889)
{'BMW': 949, 'Ferrari': 954, 'Volkswagen': 976}
{'Ferrari': 954, 'Volkswagen': 976}
{'Ferrari': 954, 'Volkswagen': 976, 'BMW': 949}
{'Ferrari': 954, 'Volkswagen': 976, 'BMW': 949}
{'Ferrari': 954, 'Volkswagen': 976, 'BMW': 949}

WORKING OF SETS:

In [24]:
# create a set
age_set = {11, 12, 31, 13, 24, 32, 33, 21, 23, 12}
print(age_set)
course = {'machine learning','python','AI','java full stack'}
print(course)
course.add('neural networks')
print(course)
course.update(['data analyst','data science','data engineering'])
print(course)
print(set([2,4,6,8,10]).isdisjoint(set([1,3,5,7,9])))
print(set([2,4]).issubset(set([2,4,6,8,10])))
union = set([1,3,5,7,9]).union(set([2,4,6,8,10]))
print(union)
if 2 in union:
    print('right')

{32, 33, 11, 12, 13, 21, 23, 24, 31}
{'python', 'java full stack', 'machine learning', 'AI'}
{'machine learning', 'python', 'neural networks', 'AI', 'java full stack'}
{'machine learning', 'python', 'neural networks', 'AI', 'data science', 'data engineering', 'java full stack', 'data analyst'}
True
True
{1, 2, 3, 4, 5, 6, 7, 8, 9, 10}
right